body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
}
a{
    text-decoration: none;
    color:white;
}
header img{
width: 250px; 
height: 150px;   
}
header{
display: flex;
justify-content: center;    
}


.nav-link {
    text-decoration: none;
}



p {
    font-size: 20px;
}


.article-but {
     text-decoration: none;
    background-color: white;
    color: black;
    padding: 7px;
    border-radius: 12px;
}


